<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="../static/images/ico/favicon.ico"
	th:href="@{/images/ico/favicon.ico}" />
<link rel="stylesheet"
	href="../../static/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/bootstrap/3.3.5/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/jquery-dataTables/1.10.9/css/dataTables.bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" />
<style type="text/css">
</style>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">W3Cschool</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">iOS</a></li>
				<li><a href="#">SVN</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> Java <b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#">spring</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		
		<table id="example" class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Password</th>
					<th>Email</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${users.empty}">
					<td colspan="5">No datas.</td>
				</tr>

				<tr th:each="user : ${users}">
					<td th:text="${user.userId}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.password}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.description}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script th:src="@{/jquery/2.1.4/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script th:src="@{/jquery-dataTables/1.10.9/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/jquery-dataTables/1.10.9/js/dataTables.bootstrap.min.js}"></script>
	
	<script src="../../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>