<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="../static/images/ico/favicon.ico"
	th:href="@{/images/ico/favicon.ico}" />
<link rel="stylesheet"
	href="../static/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/bootstrap/3.3.5/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="../static/bootstrap/3.3.5/css/bootstrap-theme.min.css"
	th:href="@{/bootstrap/3.3.5/css/bootstrap-theme.min.css}" />
<link rel="stylesheet"
	href="../static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
	th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" />
<link rel="stylesheet"
	href="../static/jquery-dataTables/1.10.9/css/jquery.dataTables.min.css"
	th:href="@{/jquery-dataTables/1.10.9/css/jquery.dataTables.min.css}" />
<link rel="stylesheet"
	href="../static/jquery-dataTables/1.10.9/css/jquery.dataTables_themeroller.css"
	th:href="@{/jquery-dataTables/1.10.9/css/jquery.dataTables_themeroller.css}" />
<link rel="stylesheet" th:href="@{/bootstrap-multiselect/css/bootstrap-multiselect.css}" />
<style type="text/css">
</style>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">W3Cschool</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">iOS</a></li>
				<li><a href="#">SVN</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> Java <b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#">jmeter</a></li>
						<li><a href="#">EJB</a></li>
						<li><a href="#">Jasper Report</a></li>
						<li class="divider"></li>
						<li><a href="#">分离的链接</a></li>
						<li class="divider"></li>
						<li><a href="#">另一个分离的链接</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div style="margin: 30px 20px">
			<div class="input-group date" id="datetimepicker" style="width: 240px" title="时间选择器">
				<input size="20" class="form-control" type="text" id="input-date"/>
				<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>

		<!-- <div style="margin: 30px 20px">
			<select id="example-getting-started" class="form-control" multiple="multiple">
				<option value="cheese">Cheese</option>
				<option value="tomatoes">Tomatoes</option>
				<option value="mozarella">Mozzarella</option>
				<option value="mushrooms">Mushrooms</option>
				<option value="pepperoni">Pepperoni</option>
				<option value="onions">Onions</option>
			</select>
			
			<button class="btn btn-primary btn-lg" data-toggle="modal" 
				data-target="#myModal">开始演示模态框
			</button>
		</div>
		
		<div  style="margin-bottom:30px;">
			<label for="name">名称</label>
			<input type="text" class="form-control" id="name"/>
			
			<label for="file">文件</label>
			<input type="file" multiple="multiple" class="form-control" id="file"/>
			
			<button type="button" class="btn btn-default" onclick="javascript:uploadFile()">上传</button>
		</div> -->

		<!-- 模态框（Modal） -->
		<div class="modal" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true" style="">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="myModalLabel">项目特殊要求项附件</h3>
					</div>
					<div class="modal-body">
						<table class="table">
							<tr>
								<th>ID</th>
								<th>NAME</th>
								<th>GENDER</th>
								<th>BIRTHDAY</th>
							</tr>
							<tr>
								<td>001</td>
								<td>Weilong</td>
								<td>male</td>
								<td>2013-02-12</td>
							</tr>
							<tr>
								<td>002</td>
								<td>Weilong</td>
								<td>male</td>
								<td>2013-02-12</td>
							</tr>
							<tr>
								<td>003</td>
								<td>Weilong</td>
								<td>male</td>
								<td>2013-02-12</td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- <table id="example" class="display">
			<thead>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Gender</th>
					<th>Birthday</th>
					<th>num</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${students.empty}">
					<td colspan="4">No datas.</td>
				</tr>

				<tr th:each="student : ${students}">
					<td th:text="${student.no}"></td>
					<td th:text="${student.name}"></td>
					<td th:text="${student.gender}"></td>
					<td th:text="${student.birthday}"></td>
					<td>3</td>
				</tr>
			</tbody>
		</table> -->
	</div>

	<script src="../../static/jquery/2.1.4/jquery-2.1.4.min.js"
		th:src="@{/jquery/2.1.4/jquery-2.1.4.min.js}"></script>
	<script src="../../static/bootstrap/3.3.5/js/bootstrap.min.js"
		th:src="@{/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script
		src="../../static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
		th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
	<script
		src="../../static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"
		th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script
		src="../../static/jquery-dataTables/1.10.9/js/jquery.dataTables.min.js"
		th:src="@{/jquery-dataTables/1.10.9/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/bootstrap-multiselect/js/bootstrap-multiselect.js}"></script>
	
	<script src="../../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>